@model ClinicModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Clinics.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Clinics");
}

<form asp-controller="Clinic" asp-action="Create" method="post" id="clinic-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.Clinics.AddNew")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-secondary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>

    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>

